SECRET_KEY=enkxNJpSKN
DEBUG=true
INSTALL_DEV=true

DB_HOST=postgres
DB_PORT=5432
DB_USER=testuserapi
DB_PASSWORD=testuserapi
DB_NAME=testuserapi

POSTGRES_DB=testuserapi
POSTGRES_PASSWORD=testuserapi
POSTGRES_USER=testuserapi

